body{
    background-color:rgb(192, 192, 221);

}
.azmorze{
    border: 10px solid white;
}
.img {
    display: flex;
    justify-content: center;
    

}
h1 {
    font-family: 'Brush Script MT', cursive;
    display: flex;
    justify-content: center;

}
footer {
    clear: both;
    position: relative;
    text-align: center;
    justify-content: center;
    margin-top: 22%;
}
